<%= stylesheet_link_tag "people" %>

<% @people.each do |person| %>
  <div class="row">
    <div class="small-3 column">
      <%= image_tag person[:photo]%>
    </div>
    <div class="small-9 column">
      <div class="name">
        <%= "#{person[:name]}  |  #{person[:pos]}" %>
      </div>
      <div class="bio">
        <%= person[:bio] %>
      </div>
    </div>
  </div>
<%end%>
