/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


@font-face{
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.ttf');
}
@font-face{
    font-family: 'Roboto-light';
    src: url('fonts/Roboto-Light.ttf');
}

body{
    margin: 0;
}

h1 {
    font-family: Roboto, Avantgarde, sans-serif;
    font-size: 40pt;
    text-align: center;
    background-color: #ffffff;
    margin: auto;
    padding: 10px;
    padding-top:15px;
}

h1 a:link {
    text-decoration: none;
}

.c1{
    color: #4a6bc4
}

.c2 {
    color: #7999f2
}

.logo{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.logo img{
    margin-left:auto;
    margin-right: auto;
    width: 75%;
}

.nav-div{
    padding:0;
    margin: 0;
}
.nav{
    list-style:none;
    font-family: Roboto-light, Avantgarde, sans-serif;
    width: 80%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    text-align:center;
    background-color: #050b56;
    opacity: .865;
    padding-bottom: 0px;
}
.nav li {
    display:inline;
}
.nav a { 
    display:inline-block;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
}

.nav a:link {
    text-decoration: none;
}

.nav a:visited {
    text-decoration: none;
}

.nav a:hover{
    background-color: #7999f2
}

.navcon{
    list-style:none;
    font-family: Roboto-light;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding:0;
    text-align:center;
    background-color: #050b56;
    opacity: .865;
    padding-bottom: 0px;
}
.navcon li {
    display:inline;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
}
.navcon a { 
    display:inline-block;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

.navcon a:link {
    text-decoration: none;
}

.navcon a:visited {
    text-decoration: none;
}

.navcon a:hover{
    background-color: #7999f2
}

p{font-family: Roboto-light;}
/* line 5, /home/chris/Code/gec/app/assets/stylesheets/about.css.scss */
.titletext {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

/* line 12, /home/chris/Code/gec/app/assets/stylesheets/about.css.scss */
.toptext {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

/* line 19, /home/chris/Code/gec/app/assets/stylesheets/about.css.scss */
.titletext div {
  background-color: #4a6bc4;
}

/* line 23, /home/chris/Code/gec/app/assets/stylesheets/about.css.scss */
.titletext p {
  width: 80%;
  margin: 0;
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto-light;
  color: white;
  text-indent: 50px;
  line-height: 150%;
}

/* line 38, /home/chris/Code/gec/app/assets/stylesheets/about.css.scss */
.toptext div {
  background-color: white;
}

/* line 42, /home/chris/Code/gec/app/assets/stylesheets/about.css.scss */
.toptext p {
  width: 90%;
  margin: 0;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto-light;
  color: #050b56;
  text-indent: 50px;
  line-height: 150%;
}
/* line 4, /home/chris/Code/gec/app/assets/stylesheets/contact.css.scss */
.love {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 0px;
  padding-bottom: 15px;
}

/* line 12, /home/chris/Code/gec/app/assets/stylesheets/contact.css.scss */
.love div {
  text-align: center;
  background-color: #4a6bc4;
}

/* line 17, /home/chris/Code/gec/app/assets/stylesheets/contact.css.scss */
.love p {
  width: 80%;
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto;
  font-size: 40px;
  color: white;
  text-indent: 20px;
  line-height: 100%;
}

/* line 32, /home/chris/Code/gec/app/assets/stylesheets/contact.css.scss */
.contact-picdiv {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* line 38, /home/chris/Code/gec/app/assets/stylesheets/contact.css.scss */
.contact-pic {
  width: 100%;
  text-align: center;
  display: inline-block;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

/* line 47, /home/chris/Code/gec/app/assets/stylesheets/contact.css.scss */
.contact-oneliner {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 0px;
  font-family: Roboto;
}

/* line 55, /home/chris/Code/gec/app/assets/stylesheets/contact.css.scss */
.contact-oneliner div {
  text-align: center;
  opacity: 1;
  margin-top: 10px;
}

/* line 62, /home/chris/Code/gec/app/assets/stylesheets/contact.css.scss */
.contact-oneliner p {
  width: 90%;
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  color: #050b56;
  text-indent: 20px;
  line-height: 200%;
  opacity: .75;
}

/* line 77, /home/chris/Code/gec/app/assets/stylesheets/contact.css.scss */
.contact-oneliner a {
  text-decoration: none;
  color: #050b56;
  opacity: 1;
}

/* line 83, /home/chris/Code/gec/app/assets/stylesheets/contact.css.scss */
.contact-oneliner a:hover {
  text-decoration: underline;
}
/* line 5, /home/chris/Code/gec/app/assets/stylesheets/home.css.scss */
.picdiv {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* line 11, /home/chris/Code/gec/app/assets/stylesheets/home.css.scss */
.pic {
  width: 100%;
  text-align: center;
  display: inline-block;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

/* line 20, /home/chris/Code/gec/app/assets/stylesheets/home.css.scss */
.idea {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 35px;
}

/* line 27, /home/chris/Code/gec/app/assets/stylesheets/home.css.scss */
.idea div {
  text-align: center;
  background-color: #4a6bc4;
}

/* line 32, /home/chris/Code/gec/app/assets/stylesheets/home.css.scss */
.idea p {
  width: 80%;
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto;
  font-size: 40px;
  color: white;
  text-indent: 20px;
  line-height: 100%;
}

/* line 47, /home/chris/Code/gec/app/assets/stylesheets/home.css.scss */
.oneliner {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 10px;
  font-family: Roboto;
}

/* line 55, /home/chris/Code/gec/app/assets/stylesheets/home.css.scss */
.oneliner div {
  text-align: center;
  background-color: white;
}

/* line 60, /home/chris/Code/gec/app/assets/stylesheets/home.css.scss */
.oneliner p {
  width: 80%;
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #050b56;
  text-indent: 20px;
  line-height: 200%;
}

/* line 74, /home/chris/Code/gec/app/assets/stylesheets/home.css.scss */
.maintext {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* line 80, /home/chris/Code/gec/app/assets/stylesheets/home.css.scss */
.maintext div {
  text-align: center;
  background-color: #4a6bc4;
  opacity: 1;
}

/* line 86, /home/chris/Code/gec/app/assets/stylesheets/home.css.scss */
.maintext p {
  width: 85%;
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Roboto-light;
  color: white;
  text-indent: 20px;
  line-height: 200%;
}
/* line 4, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
.news-front {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 15px;
}

/* line 13, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
img {
  width: 32.5%;
  vertical-align: middle;
}

/* line 18, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
.news-pic {
  display: inline-block;
  margin: 0;
}

/* line 24, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
.news-text {
  width: 100%;
  float: left;
}

/* line 29, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
.news-titletext {
  width: 99.9%;
}

/* line 33, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
.news-titletext div {
  text-align: center;
  background-color: #4a6bc4;
  height: 60px;
}

/* line 39, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
.news-titletext a {
  width: 80%;
  margin: 0;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto-light;
  color: white;
  text-indent: 50px;
  line-height: 150%;
  text-decoration: none;
}

/* line 52, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
.news-titletext p {
  width: 80%;
  margin: 0;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto-light;
  color: white;
  text-indent: 50px;
  line-height: 150%;
  text-decoration: none;
}

/* line 65, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
.news-titletext a:hover {
  text-decoration: underline;
}

/* line 69, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
.news-persontext {
  width: 99.9%;
}

/* line 73, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
.news-persontext div {
  text-align: center;
  background-color: #829ad6;
}

/* line 78, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
.news-persontext p {
  width: 90%;
  margin: 0;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto-light;
  color: white;
  text-indent: 50px;
  line-height: 150%;
  margin-bottom: 20px;
}

/* line 93, /home/chris/Code/gec/app/assets/stylesheets/news.css.scss */
.news-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* line 4, /home/chris/Code/gec/app/assets/stylesheets/people.css.scss */
.photo {
  width: 22.8%;
  float: left;
}

/* line 9, /home/chris/Code/gec/app/assets/stylesheets/people.css.scss */
.photo img {
  width: 100%;
}

/* line 13, /home/chris/Code/gec/app/assets/stylesheets/people.css.scss */
.text {
  width: 77.2%;
  float: left;
}

/* line 18, /home/chris/Code/gec/app/assets/stylesheets/people.css.scss */
.nametext {
  width: 100%;
}

/* line 22, /home/chris/Code/gec/app/assets/stylesheets/people.css.scss */
.nametext div {
  text-align: center;
  background-color: #4a6bc4;
}

/* line 27, /home/chris/Code/gec/app/assets/stylesheets/people.css.scss */
.nametext p {
  width: 90%;
  margin: 0;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto-light;
  color: white;
  line-height: 150%;
}

/* line 41, /home/chris/Code/gec/app/assets/stylesheets/people.css.scss */
.persontext {
  width: 100%;
}

/* line 45, /home/chris/Code/gec/app/assets/stylesheets/people.css.scss */
.persontext div {
  text-align: center;
  background-color: #829ad6;
}

/* line 50, /home/chris/Code/gec/app/assets/stylesheets/people.css.scss */
.persontext p {
  width: 90%;
  margin: 0;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto-light;
  color: white;
  font-size: 17px;
  text-indent: 50px;
  line-height: 145%;
}

/* line 65, /home/chris/Code/gec/app/assets/stylesheets/people.css.scss */
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* line 4, /home/chris/Code/gec/app/assets/stylesheets/photos.css.scss */
.front {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #ffffff;
}

/* line 12, /home/chris/Code/gec/app/assets/stylesheets/photos.css.scss */
.front a:link {
  opacity: 1;
}

/* line 16, /home/chris/Code/gec/app/assets/stylesheets/photos.css.scss */
.front a:hover {
  opacity: .73;
}

/* line 20, /home/chris/Code/gec/app/assets/stylesheets/photos.css.scss */
.front img {
  max-width: 33%;
  height: 240px;
}

/* line 25, /home/chris/Code/gec/app/assets/stylesheets/photos.css.scss */
.pic {
  display: inline-block;
  margin: 0;
}
/* line 2, /home/chris/Code/gec/app/assets/stylesheets/show.css.scss */
.big-front {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #ffffff;
}

/* line 10, /home/chris/Code/gec/app/assets/stylesheets/show.css.scss */
.big-pic {
  display: inline-block;
  margin: 0;
  width: 100%;
}
