<div class="picdiv">
    <a href="/photos">
        <img class="pic" src="<%= asset_path 'stretchhome1.jpg' %>">
    </a> 
</div>

<div class="idea">
    <div>
        <p class="idea">
            THE IDEA IS SIMPLE:
        </p>
    </div>
</div>

<div class="oneliner">
    <div>
        <p class="oneliner">
            Teach young girls how to save the world through STEM fields by actually letting them do it.
        </p>
    </div>
</div>

<div class="maintext">    
    <div>
        <p class="maintext">
            Girls Engineering Change seeks to close the 7:1 male to female gender
            gap in STEM by encouraging girls through the construction of engineered products and
            increasing their confidence through a network of college mentors who help them throughout
            their education. Our curriculum enables middle school and high school girls to build a tangible
            product to be used in developing world nations, such as medical equipment testers,
            clean-burning cook stoves, and water filters. GEC has reached over 300
            girls at 4 universities and is expanding annually. 
        </p>
    </div>
</div>