<div class="front">
    <div>
        <a href="/photos/1">
            <img class="pic" src="photos1.jpg">
        </a>
        <a href="/photos/2">
            <img class="pic" src="photos2.jpg">
        </a>
        <a href="/photos/3">
            <img class="pic" src="photos3.jpg">
        </a>
    </div>
    <div>
        <a href="/photos/4">
            <img class="pic" src="photos4.jpg">
        </a>
        <a href="/photos/5">
            <img class="pic" src="photos5.jpg">
        </a>
        <a href="/photos/6">
            <img class="pic" src="photos6.jpg">
        </a>
    </div>
    <div>
        <a href="/photos/7">
            <img class="pic" src="photos7.jpg">
        </a>
        <a href="/photos/8">
            <img class="pic" src="photos8.jpg">
        </a>
        <a href="/photos/10">
            <img class="pic" src="photos10.jpg">
        </a>
    </div>
    <div>
        <a href="/photos/11">
            <img class="pic" src="photos11.jpg">
        </a>
        <a href="/photos/12">
            <img class="pic" src="photos12.jpg">
        </a>
        <a href="/photos/13">
            <img class="pic" src="photos13.jpg">
        </a>
    </div> 
</div>
