<div class="titletext">
    <div>
        <p class="titletext">About GEC</p>
    </div>
</div>

<div class="toptext">
    <div>
        <p class="toptext">
            Female underrepresentation in Science, Technology, Engineering, and Math fields continues to be a
            major source of concern in the United States and across the globe. From a young age, girls
            are pushed towards traditional female roles and activities, while being told that science
            and math is "for boys." Universities filled with male-dominated science and math classrooms
            fail to offer sufficient support structures to inspire females to pursue an engineering major.
            By the time college students are ready to graduate and enter the workforce, only a quarter
            of the engineering field is female, with fields such as petroleum engineering as low as nine
            percent. Intimidation, gender norms, and other social pressures against girls who show an
            interest in science-related topics steer most females away from STEM fields and into
            traditional fields "for women."
        </p>
        <p class="toptext">
           It is this perception of Science, Technology, Engineering, and Math fields as a "man’s job"
           that Girls Engineering Change strives to correct. Through early exposure and sustained
           mentorship, Girls Engineering Change hopes to provide a platform to get females interested
           in engineering and keep them interested through continuing sessions, mentorship, and leadership.  
        </p>
        <p class="toptext">
            With challenges such as climate change, global health, and energy sustainability, engineers
            are in high demand in the United States and around the world. Currently, the United States faces
            a shortage of engineers to address these pressing issues. Girls Engineering Change hopes to
            eliminate this shortage by tapping into the female population and inspiring a new generation of
            engineers - an equitable and inspired generation. Girls Engineering Change seeks to inspire children
            at a young age to connect to the pressing issues of our generation and challenge them to make a
            difference in one session and throughout their lives.
        </p>
    </div>
</div>

<div class="titletext" style="width: 75%;">
    <div>
        <p class="titletext">Our Values</p>
    </div>
</div>

<div class="toptext">
    <div>
        <p class="values-top">
            <strong>Purpose</strong>
        </p>
        <p class="values">
          Through mentorship, we inspire confidence in the next
          generation of young women to leverage unbounded potential an implement a better
          future.
        </p>
        <p class="values-top" style="padding:0px;">
          <strong>___________________________________________________</strong>
        </p>
        <p class="values-top">
            <strong>Sincerity</strong>
        </p>
        <p class="values">
          We strive to be honest and open with our moral principles as
           an organization to the public, our participants, and our student leaders.
        </p>
        <p class="values-top" style="padding:0px;">
          <strong>___________________________________________________</strong>
        </p>
        <p class="values-top">
            <strong>Challenge</strong>
        </p>
        <p class="values">
          We value the challenge of pushing our participants, student
          leaders, and employees towards their ultimate potential and to broaden their minds
          through this organization.
        </p>
        <p class="values-top" style="padding:0px;">
          <strong>___________________________________________________</strong>
        </p>
        <p class="values-top">
            <strong>Unity</strong>
        </p>
        <p class="values">
          We try to create solidarity between everyone we touch with
          this organization - for we are all united in our goals to create a better world.
        </p>
        <p class="values-top" style="padding:0px;">
          <strong>___________________________________________________</strong>
        </p>
        <p class="values-top">
            <strong>Energy</strong>
        </p>
        <p class="values">
          We aim to meet each challenge and participant with excitement
          and drive for the sake of our mission and purpose. 
        </p>
        <p class="values-top" style="padding:0px;">
          <strong>___________________________________________________</strong>
        </p>
        <p class="values-top">
            <strong>Impact</strong>
        </p>
        <p class="values">
          This organization is based on our ability to make a difference
          in the lives of others - on an individual and wordly basis. 
        </p>
    </div>
</div>