<div class="love">
    <div>
        <p class="love">
            WE'D LOVE TO HEAR FROM YOU!
        </p>
    </div>
</div>

<div class="contact-picdiv">
    <a href="/photos">
        <img class="contact-pic" src="<%= asset_path 'contact4.jpg' %>">
    </a> 
</div>

<div class="contact-oneliner">
    <div>
        <p class="contact-oneliner">
            <strong>
            For more information about GEC, to contact our Executive Team, or to volunteer or donate, please send us an email at:
            <a href="mailto:girlsengineeringchange@gmail.com">girlsengineeringchange@gmail.com</a>
            <br>
            For updates, photos, and information about upcoming GEC events, follow us on
            <a href="https://www.facebook.com/pages/Girls-Engineering-Change/500986659983924?fref=ts">Facebook</a>!
            </strong>
        </p>
    </div>
</div>
