/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face{
    font-family: 'Roboto';
    src: font-url(asset_path('Roboto-Thin.ttf'));
}
@font-face{
    font-family: 'Roboto-light';
    src: font-url(asset_path('Roboto-Light.ttf'));
}

@font-face{
    font-family: 'Kelson';
    src: font-url(asset_path('kelson/KelsonSansLight.otf'));
}

body{
    margin: 0;
    background: hsla(224, 51%, 55%, 0.5)
}

.body-box{
  background: #ffffff;
  width: 100%;
  box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.55);
  margin: 10px auto 0 auto;
  border-radius: 5px;
  max-width: 67.5em;
}

h1 {
    font-family: Roboto, Avantgarde, sans-serif;
    font-size: 40pt;
    text-align: center;
    background-color: #ffffff;
    margin: auto;
    padding: 10px;
    padding-top:15px;
}

h1 a:link {
    text-decoration: none;
}

.c1{
    color: #4a6bc4
}

.c2 {
    color: #7999f2
}

.logo{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.logo img{
    margin-left:auto;
    margin-right: auto;
    width: 75%;
}

.nav-div{
    padding:0;
    margin: 0;
}
.nav{
    list-style:none;
    font-family: 'Amaranth', sans-serif;
    width: 100%;
    margin: 0 auto 0 auto;
    padding:0;
    text-align:center;
    background-color: #050b56;
    opacity: .865;
    padding-bottom: 0px;
}
.nav li {
    display:inline;
}
.nav a { 
    display:inline-block;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
    font-size: 20px;
}

.nav a:link {
    text-decoration: none;
}

.nav a:visited {
    text-decoration: none;
}

.nav a:hover{
    background-color: #7999f2
}

.navcon{
    list-style:none;
    font-family: 'Amaranth', sans-serif;
    width: 100%;
    margin: 0 auto 15px auto;
    padding:0;
    text-align:center;
    background-color: #050b56;
    opacity: .865;
    padding-bottom: 0px;
    border-radius: 0 0 5px 5px;
}
.navcon li {
    display:inline;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
}
.navcon a { 
    display:inline-block;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

.navcon a:link {
    text-decoration: none;
}

.navcon a:visited {
    text-decoration: none;
}

.navcon a:hover{
    background-color: #7999f2
}

p{font-family: Roboto-light;}