// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.love{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #4a6bc4;
}

.love p{
    width: 80%;
    margin:0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Glegoo', serif;
    font-size: 40px;
    color: white;
    text-indent:20px;
    line-height: 100%;
}

.contact-picdiv{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact-pic{
    width:100%;
    text-align:center;
    display: inline-block;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.contact-pic img{
  border-radius: 0;
}

.contact-oneliner{
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    padding-bottom: 0px;
    font-family: 'PT Sans', sans-serif;
}

.contact-oneliner div{
    text-align: center;
    margin-top: 10px;
}

.contact-oneliner p{
    width: 90%;
    margin:0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #050b56;
    text-indent:20px;
    line-height: 200%;
}

.contact-oneliner a{
    text-decoration: none;
    color: #050b56;
    opacity: 1;
}

.contact-oneliner a:hover{
    text-decoration: underline;
}