// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picdiv{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pic{
    width:100%;
    text-align:center;
    display: inline-block;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.idea{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

.idea div{
    text-align: center;
    background-color: #ffffff;
}

.idea p{
    width: 80%;
    margin:0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 15px;
    font-family: 'Glegoo', serif;
    font-size: 40px;
    color: #050b56;
    text-indent:20px;
    line-height: 100%;
}

.oneliner{
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    padding-bottom: 10px;
    font-family: 'Amaranth', sans-serif;
}

.oneliner div{
    text-align: center;
    background-color: white;
}

.oneliner p{
    width: 80%;
    margin:0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 26px;
    color: #050b56;
    text-indent: 20px;
    line-height: 200%;
}

.maintext{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

.maintext div{
    text-align: center;
    background-color: #4a6bc4;
    opacity: 1; 
}

.maintext p{
    width: 85%;
    margin:0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    line-height: 200%;
    font-size: 18px;
}