.news-pic-div{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color: #ffffff;
    padding-bottom: 15px;
}

img {
    width:32.5%;
    vertical-align: middle;
}

.news-pic {
    display: inline-block;
    margin:0;
}

.article-title{
    width: 100%;
    text-align: center;
    background-color: #4a6bc4;
    height: 60px;
    border-radius: 3px;
    margin: 0;
}
.article-title a, .article-title p{
    margin:0;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Amaranth', serif;
    color: white;
    line-height: 150%;
    text-decoration: none;
}

.article-title a:hover{
    text-decoration: underline;
}

.article-blurb{
    width: 100%;  
    text-align: center;
    background-color: #ffffff;
}

p.article-blurb {
    width: 90%;
    margin:0;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'PT Sans', sans-serif;
    color: #050b56;
    text-indent:25px;
    line-height: 150%;
    margin-bottom: 5px;
}