.container{
    width: 90%;
    margin: 10px auto 10px auto;
    border-radius: 5px;
}

.photo{
    width: 22.8%;
    float: left;
    border-radius: 4px 0 0 4px;
}

.photo img{
    width: 100%;
}

.text{
    width: 77.2%;
    float: left;
}

.nametext{
    width: 100%;
}

.nametext div{
    text-align: center;
    background-color: #4a6bc4;
    border-radius: 0 4px 0 0;
}

.nametext p{
    width: 90%;
    margin:0;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Glegoo', serif;
    color: white;

    line-height: 150%;
}

.persontext{
    width: 100%;  
}

.persontext div{
    text-align: center;
    background-color: #829ad6;
    border-radius: 0 0 4px 0;
}

.persontext p{
    width: 90%;
    margin:0;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 17px;
    text-indent:50px;
    line-height: 145%;
}

