.row img{
  width: 100%;
  border-radius: 3px;
  height: 250px;
}

.row{
  margin-top: 5px;
  margin-bottom: 5px;
}

.small-4.column{
  padding: 5px;
}

#photo a:link{
    opacity: 1;
}

#photo a:hover{
    opacity: .73;
}
