
.big-front{
    width: 95%;
    margin: 10px auto 10px auto;
    text-align:center;
    background-color: #ffffff;
}

.big-pic {
    display: inline-block;
    margin:0;
    width: 100%;
}

.big-front img{
  border-radius: 4px;
}